.body {
    background-color: black;
    min-height: 100vh;
    padding-bottom: 30px;
}

.type {
    margin-top: -30px;
    color: yellow;
}

.h1 {
    text-align: center;
}

.list {
    margin-left: 37vw;
}

.footer {
    background-color: black;
    font-size: larger;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 480px) {
    .list {
        margin-left: 17vw;
    }
}