.body {
  background-color: black;
  display: flex;
}

.meteors {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.basket {
  margin-top: 10vh;
  margin-right: 10vw;
}

@media screen and (max-width: 480px) {
  .body {
    flex-direction: column;
  }
  .basket {
    position: fixed;
    bottom: 0;
    left: 0px;
  }
}