.body {
  background-color: black;
  display: flex;
}

.meteors {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image {
  position: fixed;
  height: 80vh;
  left: -10vw
}

@media screen and (max-width: 480px) {
  .image {
    height: 700px;
    left: -400px
  }
  .body {
    flex-direction: column;
  }

}