.flex {
    display: flex;
}

.body {
    margin-top: 3vh;

}

.date {
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.data {
    display: flex;
    justify-content: space-between;
    max-width:30vw;
    min-width:20vw;

}

.column {
    text-align: left;
    min-width: 10vw;
    max-width: 15vw;
}

.type {
    margin-left: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    color: yellow;
}

.name {
    text-decoration: underline;
    margin-bottom: 10px;
}

.buttonOff, .buttonOn {
    width: 100px;
    height: 30px;
    background-color: #471d00;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

.buttonOff {
    color: #e05a00
}
.buttonOff:hover {
    cursor: pointer;
    background-color: #e05a00;
    color: white
}

.buttonOn {
    color: gray
}

@media screen and (max-width: 480px) {
    .date {
        font-size:x-large
    }
    .data {
        display: flex;
        justify-content: space-between;
        max-width:40vw;
        min-width:30vw;
    }
    .units, .width {
        font-size:smaller
    }
    .column {
        min-width: 25vw;
        max-width: 30vw;
    }
    .name {
        font-size:small;
    }
    .button {
        width: 70px;
        height: 25px;
        font-size: 12px;
    }
    .meteor {
        margin-right: 10px;
    }
  }